nifi/templates/NiFi_Flow_WOUTES.json
{
    "flowContents": {
        "identifier": "35987000-62a7-3968-b4e9-57a08aa11620",
        "instanceIdentifier": "f90971c7-0196-1000-6880-6dd794595e40",
        "name": "NiFi_Flow_WOUTES",
        "comments": "",
        "position": {
            "x": -494.5,
            "y": -149.0
        },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
            {
                "identifier": "5c75e5d9-ee01-3bdf-a05f-79ef55c3b8ae",
                "instanceIdentifier": "f90a60ac-0196-1000-eef1-e5d2dbc074c4",
                "name": "PutParquet",
                "comments": "",
                "position": {
                    "x": -720.0,
                    "y": 1312.0
                },
                "type": "org.apache.nifi.processors.parquet.PutParquet",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-parquet-nar",
                    "version": "2.4.0"
                },
                "properties": {
                    "Hadoop Configuration Resources": "/opt/hadoop/hdfs-site.xml,/opt/hadoop/core-site.xml",
                    "max-padding-size": null,
                    "avro-write-old-list-structure": "true",
                    "Additional Classpath Resources": null,
                    "permissions-umask": null,
                    "remote-group": null,
                    "row-group-size": null,
                    "remote-owner": null,
                    "enable-dictionary-encoding": "true",
                    "page-size": null,
                    "writer-version": null,
                    "compression-type": "UNCOMPRESSED",
                    "enable-validation": null,
                    "dictionary-page-size": null,
                    "kerberos-user-service": null,
                    "record-reader": "a21a4c71-6208-3aab-b702-b703a390b0d4",
                    "overwrite": "true",
                    "avro-add-list-element-records": "true",
                    "remove-crc-files": "false",
                    "Directory": "/user/nifi"
                },
                "propertyDescriptors": {
                    "Hadoop Configuration Resources": {
                        "name": "Hadoop Configuration Resources",
                        "displayName": "Hadoop Configuration Resources",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false,
                        "resourceDefinition": {
                            "cardinality": "MULTIPLE",
                            "resourceTypes": [
                                "FILE"
                            ]
                        }
                    },
                    "max-padding-size": {
                        "name": "max-padding-size",
                        "displayName": "Max Padding Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "avro-write-old-list-structure": {
                        "name": "avro-write-old-list-structure",
                        "displayName": "Avro Write Old List Structure",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Additional Classpath Resources": {
                        "name": "Additional Classpath Resources",
                        "displayName": "Additional Classpath Resources",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false,
                        "resourceDefinition": {
                            "cardinality": "MULTIPLE",
                            "resourceTypes": [
                                "FILE",
                                "DIRECTORY"
                            ]
                        }
                    },
                    "permissions-umask": {
                        "name": "permissions-umask",
                        "displayName": "Permissions umask",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "remote-group": {
                        "name": "remote-group",
                        "displayName": "Remote Group",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "row-group-size": {
                        "name": "row-group-size",
                        "displayName": "Row Group Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "remote-owner": {
                        "name": "remote-owner",
                        "displayName": "Remote Owner",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "enable-dictionary-encoding": {
                        "name": "enable-dictionary-encoding",
                        "displayName": "Enable Dictionary Encoding",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "page-size": {
                        "name": "page-size",
                        "displayName": "Page Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "writer-version": {
                        "name": "writer-version",
                        "displayName": "Writer Version",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "compression-type": {
                        "name": "compression-type",
                        "displayName": "Compression Type",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "enable-validation": {
                        "name": "enable-validation",
                        "displayName": "Enable Validation",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "dictionary-page-size": {
                        "name": "dictionary-page-size",
                        "displayName": "Dictionary Page Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "kerberos-user-service": {
                        "name": "kerberos-user-service",
                        "displayName": "Kerberos User Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "record-reader": {
                        "name": "record-reader",
                        "displayName": "Record Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "overwrite": {
                        "name": "overwrite",
                        "displayName": "Overwrite Files",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "avro-add-list-element-records": {
                        "name": "avro-add-list-element-records",
                        "displayName": "Avro Add List Element Records",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "remove-crc-files": {
                        "name": "remove-crc-files",
                        "displayName": "Remove CRC Files",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Directory": {
                        "name": "Directory",
                        "displayName": "Directory",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "100 ms",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "success",
                    "failure",
                    "retry"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "35987000-62a7-3968-b4e9-57a08aa11620"
            },
            {
                "identifier": "c2c4eff3-2d24-311e-aa04-549bc9814df1",
                "instanceIdentifier": "ad660e1b-e69b-3a6d-5095-a62c9adb76fc",
                "name": "UpdateAttribute",
                "comments": "",
                "position": {
                    "x": -48.0,
                    "y": 1040.0
                },
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-update-attribute-nar",
                    "version": "2.4.0"
                },
                "properties": {
                    "Delete Attributes Expression": null,
                    "filename": "data.csv",
                    "Store State": "Do not store state",
                    "canonical-value-lookup-cache-size": "100",
                    "Stateful Variables Initial Value": null
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "name": "Delete Attributes Expression",
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "filename": {
                        "name": "filename",
                        "displayName": "filename",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": true
                    },
                    "Store State": {
                        "name": "Store State",
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "canonical-value-lookup-cache-size": {
                        "name": "canonical-value-lookup-cache-size",
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Stateful Variables Initial Value": {
                        "name": "Stateful Variables Initial Value",
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "35987000-62a7-3968-b4e9-57a08aa11620"
            },
            {
                "identifier": "1c5affce-7e91-3d9a-96c3-d82da76b6f81",
                "instanceIdentifier": "89e5f2b1-232b-3927-ab7b-0ca9785c901c",
                "name": "MergeContent",
                "comments": "",
                "position": {
                    "x": -368.0,
                    "y": 824.0
                },
                "type": "org.apache.nifi.processors.standard.MergeContent",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.4.0"
                },
                "properties": {
                    "Keep Path": "false",
                    "Maximum Group Size": null,
                    "Merge Strategy": "Bin-Packing Algorithm",
                    "Attribute Strategy": "Keep Only Common Attributes",
                    "FlowFile Insertion Strategy": "Last in Bin",
                    "Compression Level": "1",
                    "Maximum Number of Entries": "1000",
                    "Minimum Group Size": "0 B",
                    "Maximum number of Bins": "5",
                    "Tar Modified Time": "${file.lastModifiedTime}",
                    "Delimiter Strategy": "Do Not Use Delimiters",
                    "Merge Format": "Binary Concatenation",
                    "Footer File": null,
                    "Max Bin Age": null,
                    "Demarcator File": null,
                    "Correlation Attribute Name": null,
                    "Bin Termination Check": null,
                    "Header File": null,
                    "mergecontent-metadata-strategy": "Do Not Merge Uncommon Metadata",
                    "Minimum Number of Entries": "1"
                },
                "propertyDescriptors": {
                    "Keep Path": {
                        "name": "Keep Path",
                        "displayName": "Keep Path",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Maximum Group Size": {
                        "name": "Maximum Group Size",
                        "displayName": "Maximum Group Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Merge Strategy": {
                        "name": "Merge Strategy",
                        "displayName": "Merge Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Attribute Strategy": {
                        "name": "Attribute Strategy",
                        "displayName": "Attribute Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "FlowFile Insertion Strategy": {
                        "name": "FlowFile Insertion Strategy",
                        "displayName": "FlowFile Insertion Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Compression Level": {
                        "name": "Compression Level",
                        "displayName": "Compression Level",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Maximum Number of Entries": {
                        "name": "Maximum Number of Entries",
                        "displayName": "Maximum Number of Entries",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Minimum Group Size": {
                        "name": "Minimum Group Size",
                        "displayName": "Minimum Group Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Maximum number of Bins": {
                        "name": "Maximum number of Bins",
                        "displayName": "Maximum number of Bins",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Tar Modified Time": {
                        "name": "Tar Modified Time",
                        "displayName": "Tar Modified Time",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Delimiter Strategy": {
                        "name": "Delimiter Strategy",
                        "displayName": "Delimiter Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Merge Format": {
                        "name": "Merge Format",
                        "displayName": "Merge Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Footer File": {
                        "name": "Footer File",
                        "displayName": "Footer",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false,
                        "resourceDefinition": {
                            "cardinality": "SINGLE",
                            "resourceTypes": [
                                "TEXT",
                                "FILE"
                            ]
                        }
                    },
                    "Max Bin Age": {
                        "name": "Max Bin Age",
                        "displayName": "Max Bin Age",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Demarcator File": {
                        "name": "Demarcator File",
                        "displayName": "Demarcator",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false,
                        "resourceDefinition": {
                            "cardinality": "SINGLE",
                            "resourceTypes": [
                                "TEXT",
                                "FILE"
                            ]
                        }
                    },
                    "Correlation Attribute Name": {
                        "name": "Correlation Attribute Name",
                        "displayName": "Correlation Attribute Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Bin Termination Check": {
                        "name": "Bin Termination Check",
                        "displayName": "Bin Termination Check",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Header File": {
                        "name": "Header File",
                        "displayName": "Header",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false,
                        "resourceDefinition": {
                            "cardinality": "SINGLE",
                            "resourceTypes": [
                                "TEXT",
                                "FILE"
                            ]
                        }
                    },
                    "mergecontent-metadata-strategy": {
                        "name": "mergecontent-metadata-strategy",
                        "displayName": "Metadata Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Minimum Number of Entries": {
                        "name": "Minimum Number of Entries",
                        "displayName": "Minimum Number of Entries",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "original",
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "35987000-62a7-3968-b4e9-57a08aa11620"
            },
            {
                "identifier": "a23f2301-a6d3-37c9-91b8-431b7b105e61",
                "instanceIdentifier": "7ffb7bca-df1f-3f5d-be51-f3f38d3cddd1",
                "name": "GetHDFS",
                "comments": "",
                "position": {
                    "x": -376.0,
                    "y": -416.0
                },
                "type": "org.apache.nifi.processors.hadoop.GetHDFS",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-hadoop-nar",
                    "version": "2.4.0"
                },
                "properties": {
                    "Keep Source File": "true",
                    "Hadoop Configuration Resources": "/opt/hadoop/core-site.xml,/opt/hadoop/hdfs-site.xml",
                    "File Filter Regex": "links\\.txt",
                    "Minimum File Age": "0 sec",
                    "Filter Match Name Only": "true",
                    "Polling Interval": "0 sec",
                    "Ignore Dotted Files": "true",
                    "Maximum File Age": null,
                    "Additional Classpath Resources": null,
                    "Compression codec": "NONE",
                    "IO Buffer Size": null,
                    "Recurse Subdirectories": "false",
                    "Batch Size": "100",
                    "kerberos-user-service": null,
                    "Directory": "/user/nifi/input"
                },
                "propertyDescriptors": {
                    "Keep Source File": {
                        "name": "Keep Source File",
                        "displayName": "Keep Source File",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Hadoop Configuration Resources": {
                        "name": "Hadoop Configuration Resources",
                        "displayName": "Hadoop Configuration Resources",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false,
                        "resourceDefinition": {
                            "cardinality": "MULTIPLE",
                            "resourceTypes": [
                                "FILE"
                            ]
                        }
                    },
                    "File Filter Regex": {
                        "name": "File Filter Regex",
                        "displayName": "File Filter Regex",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Minimum File Age": {
                        "name": "Minimum File Age",
                        "displayName": "Minimum File Age",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Filter Match Name Only": {
                        "name": "Filter Match Name Only",
                        "displayName": "Filter Match Name Only",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Polling Interval": {
                        "name": "Polling Interval",
                        "displayName": "Polling Interval",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Ignore Dotted Files": {
                        "name": "Ignore Dotted Files",
                        "displayName": "Ignore Dotted Files",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Maximum File Age": {
                        "name": "Maximum File Age",
                        "displayName": "Maximum File Age",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Additional Classpath Resources": {
                        "name": "Additional Classpath Resources",
                        "displayName": "Additional Classpath Resources",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false,
                        "resourceDefinition": {
                            "cardinality": "MULTIPLE",
                            "resourceTypes": [
                                "FILE",
                                "DIRECTORY"
                            ]
                        }
                    },
                    "Compression codec": {
                        "name": "Compression codec",
                        "displayName": "Compression codec",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "IO Buffer Size": {
                        "name": "IO Buffer Size",
                        "displayName": "IO Buffer Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Recurse Subdirectories": {
                        "name": "Recurse Subdirectories",
                        "displayName": "Recurse Subdirectories",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Batch Size": {
                        "name": "Batch Size",
                        "displayName": "Batch Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "kerberos-user-service": {
                        "name": "kerberos-user-service",
                        "displayName": "Kerberos User Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Directory": {
                        "name": "Directory",
                        "displayName": "Directory",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "3600 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "DISABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "35987000-62a7-3968-b4e9-57a08aa11620"
            },
            {
                "identifier": "b97c4260-8c00-34fa-980a-5f909771a43d",
                "instanceIdentifier": "43ba79ab-3458-3d64-b84b-b0eaee5a4da0",
                "name": "ExtractText",
                "comments": "",
                "position": {
                    "x": -368.0,
                    "y": 120.0
                },
                "type": "org.apache.nifi.processors.standard.ExtractText",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.4.0"
                },
                "properties": {
                    "Enable Unicode Predefined Character Classes": "false",
                    "Permit Whitespace and Comments in Pattern": "false",
                    "Enable Unicode-aware Case Folding": "false",
                    "Enable named group support": "false",
                    "Enable DOTALL Mode": "false",
                    "Enable Unix Lines Mode": "false",
                    "Maximum Buffer Size": "1 MB",
                    "Enable Canonical Equivalence": "false",
                    "url": "^(.*)$",
                    "Enable Case-insensitive Matching": "false",
                    "Enable Multiline Mode": "false",
                    "Enable repeating capture group": "false",
                    "Maximum Capture Group Length": "1024",
                    "Enable Literal Parsing of the Pattern": "false",
                    "Character Set": "UTF-8",
                    "Include Capture Group 0": "true"
                },
                "propertyDescriptors": {
                    "Enable Unicode Predefined Character Classes": {
                        "name": "Enable Unicode Predefined Character Classes",
                        "displayName": "Enable Unicode Predefined Character Classes",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Permit Whitespace and Comments in Pattern": {
                        "name": "Permit Whitespace and Comments in Pattern",
                        "displayName": "Permit Whitespace and Comments in Pattern",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Enable Unicode-aware Case Folding": {
                        "name": "Enable Unicode-aware Case Folding",
                        "displayName": "Enable Unicode-aware Case Folding",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Enable named group support": {
                        "name": "Enable named group support",
                        "displayName": "Enable named group support",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Enable DOTALL Mode": {
                        "name": "Enable DOTALL Mode",
                        "displayName": "Enable DOTALL Mode",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Enable Unix Lines Mode": {
                        "name": "Enable Unix Lines Mode",
                        "displayName": "Enable Unix Lines Mode",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Maximum Buffer Size": {
                        "name": "Maximum Buffer Size",
                        "displayName": "Maximum Buffer Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Enable Canonical Equivalence": {
                        "name": "Enable Canonical Equivalence",
                        "displayName": "Enable Canonical Equivalence",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "url": {
                        "name": "url",
                        "displayName": "url",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": true
                    },
                    "Enable Case-insensitive Matching": {
                        "name": "Enable Case-insensitive Matching",
                        "displayName": "Enable Case-insensitive Matching",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Enable Multiline Mode": {
                        "name": "Enable Multiline Mode",
                        "displayName": "Enable Multiline Mode",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Enable repeating capture group": {
                        "name": "Enable repeating capture group",
                        "displayName": "Enable repeating capture group",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Maximum Capture Group Length": {
                        "name": "Maximum Capture Group Length",
                        "displayName": "Maximum Capture Group Length",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Enable Literal Parsing of the Pattern": {
                        "name": "Enable Literal Parsing of the Pattern",
                        "displayName": "Enable Literal Parsing of the Pattern",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Character Set": {
                        "name": "Character Set",
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Include Capture Group 0": {
                        "name": "Include Capture Group 0",
                        "displayName": "Include Capture Group 0",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "unmatched"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "35987000-62a7-3968-b4e9-57a08aa11620"
            },
            {
                "identifier": "a3400b6d-8c9c-3da3-aa81-3b166bb4777d",
                "instanceIdentifier": "ae6df109-51a2-3809-7624-9754b978179d",
                "name": "SplitText",
                "comments": "",
                "position": {
                    "x": -376.0,
                    "y": -136.0
                },
                "type": "org.apache.nifi.processors.standard.SplitText",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.4.0"
                },
                "properties": {
                    "Remove Trailing Newlines": "true",
                    "Maximum Fragment Size": "4096B",
                    "Header Line Marker Characters": null,
                    "Header Line Count": "0",
                    "Line Split Count": "1"
                },
                "propertyDescriptors": {
                    "Remove Trailing Newlines": {
                        "name": "Remove Trailing Newlines",
                        "displayName": "Remove Trailing Newlines",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Maximum Fragment Size": {
                        "name": "Maximum Fragment Size",
                        "displayName": "Maximum Fragment Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Header Line Marker Characters": {
                        "name": "Header Line Marker Characters",
                        "displayName": "Header Line Marker Characters",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Header Line Count": {
                        "name": "Header Line Count",
                        "displayName": "Header Line Count",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Line Split Count": {
                        "name": "Line Split Count",
                        "displayName": "Line Split Count",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "original",
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "35987000-62a7-3968-b4e9-57a08aa11620"
            },
            {
                "identifier": "a5eaba29-5a72-38a7-84c9-c38e9efe4874",
                "instanceIdentifier": "a731aab7-78a0-3fd6-67f7-9399c17b3b7d",
                "name": "ConvertRecord",
                "comments": "",
                "position": {
                    "x": -368.0,
                    "y": 544.0
                },
                "type": "org.apache.nifi.processors.standard.ConvertRecord",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.4.0"
                },
                "properties": {
                    "Include Zero Record FlowFiles": "true",
                    "Record Writer": "e8ed3aa3-e0b2-37cb-aeeb-d575eb8dd3cb",
                    "Record Reader": "0d06a614-5489-37f3-bb98-003f8e65d88f"
                },
                "propertyDescriptors": {
                    "Include Zero Record FlowFiles": {
                        "name": "Include Zero Record FlowFiles",
                        "displayName": "Include Zero Record FlowFiles",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Writer": {
                        "name": "Record Writer",
                        "displayName": "Record Writer",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Reader": {
                        "name": "Record Reader",
                        "displayName": "Record Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "35987000-62a7-3968-b4e9-57a08aa11620"
            },
            {
                "identifier": "1de83912-64b8-3e44-9de7-fd9ddd0df937",
                "instanceIdentifier": "ea17b651-46cd-386a-7c65-e0dd8a7ca1a4",
                "name": "InvokeHTTP",
                "comments": "",
                "position": {
                    "x": -368.0,
                    "y": 328.0
                },
                "type": "org.apache.nifi.processors.standard.InvokeHTTP",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.4.0"
                },
                "properties": {
                    "Request Content-Encoding": "DISABLED",
                    "proxy-configuration-service": null,
                    "Request Multipart Form-Data Filename Enabled": "true",
                    "Request Chunked Transfer-Encoding Enabled": "false",
                    "Response Header Request Attributes Prefix": null,
                    "HTTP/2 Disabled": "False",
                    "Connection Timeout": "5 secs",
                    "Response Cookie Strategy": "DISABLED",
                    "Socket Read Timeout": "15 secs",
                    "Socket Idle Connections": "5",
                    "Request Body Enabled": "true",
                    "OAuth2 Access Token Refresh Strategy": "ON_TOKEN_EXPIRATION",
                    "HTTP URL": "${url}",
                    "Request OAuth2 Access Token Provider": null,
                    "Socket Idle Timeout": "5 mins",
                    "Response Redirects Enabled": "True",
                    "Socket Write Timeout": "15 secs",
                    "Request Header Attributes Pattern": null,
                    "Response FlowFile Naming Strategy": "RANDOM",
                    "Response Cache Enabled": "false",
                    "Request Date Header Enabled": "True",
                    "Request Failure Penalization Enabled": "false",
                    "Response Body Attribute Size": "256",
                    "SSL Context Service": null,
                    "Response Generation Required": "false",
                    "Request User-Agent": null,
                    "Response Header Request Attributes Enabled": "false",
                    "HTTP Method": "GET",
                    "Request Username": null,
                    "Request Content-Type": "${mime.type}",
                    "Response Body Attribute Name": null,
                    "Request Digest Authentication Enabled": "false",
                    "Request Multipart Form-Data Name": null,
                    "Response Cache Size": "10MB",
                    "Response Body Ignored": "false"
                },
                "propertyDescriptors": {
                    "Request Content-Encoding": {
                        "name": "Request Content-Encoding",
                        "displayName": "Request Content-Encoding",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "proxy-configuration-service": {
                        "name": "proxy-configuration-service",
                        "displayName": "Proxy Configuration Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Multipart Form-Data Filename Enabled": {
                        "name": "Request Multipart Form-Data Filename Enabled",
                        "displayName": "Request Multipart Form-Data Filename Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Chunked Transfer-Encoding Enabled": {
                        "name": "Request Chunked Transfer-Encoding Enabled",
                        "displayName": "Request Chunked Transfer-Encoding Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Header Request Attributes Prefix": {
                        "name": "Response Header Request Attributes Prefix",
                        "displayName": "Response Header Request Attributes Prefix",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "HTTP/2 Disabled": {
                        "name": "HTTP/2 Disabled",
                        "displayName": "HTTP/2 Disabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Connection Timeout": {
                        "name": "Connection Timeout",
                        "displayName": "Connection Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Cookie Strategy": {
                        "name": "Response Cookie Strategy",
                        "displayName": "Response Cookie Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Password": {
                        "name": "Request Password",
                        "displayName": "Request Password",
                        "identifiesControllerService": false,
                        "sensitive": true,
                        "dynamic": false
                    },
                    "Socket Read Timeout": {
                        "name": "Socket Read Timeout",
                        "displayName": "Socket Read Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Socket Idle Connections": {
                        "name": "Socket Idle Connections",
                        "displayName": "Socket Idle Connections",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Body Enabled": {
                        "name": "Request Body Enabled",
                        "displayName": "Request Body Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "OAuth2 Access Token Refresh Strategy": {
                        "name": "OAuth2 Access Token Refresh Strategy",
                        "displayName": "OAuth2 Access Token Refresh Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "HTTP URL": {
                        "name": "HTTP URL",
                        "displayName": "HTTP URL",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request OAuth2 Access Token Provider": {
                        "name": "Request OAuth2 Access Token Provider",
                        "displayName": "Request OAuth2 Access Token Provider",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Socket Idle Timeout": {
                        "name": "Socket Idle Timeout",
                        "displayName": "Socket Idle Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Redirects Enabled": {
                        "name": "Response Redirects Enabled",
                        "displayName": "Response Redirects Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Socket Write Timeout": {
                        "name": "Socket Write Timeout",
                        "displayName": "Socket Write Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Header Attributes Pattern": {
                        "name": "Request Header Attributes Pattern",
                        "displayName": "Request Header Attributes Pattern",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response FlowFile Naming Strategy": {
                        "name": "Response FlowFile Naming Strategy",
                        "displayName": "Response FlowFile Naming Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Cache Enabled": {
                        "name": "Response Cache Enabled",
                        "displayName": "Response Cache Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Date Header Enabled": {
                        "name": "Request Date Header Enabled",
                        "displayName": "Request Date Header Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Failure Penalization Enabled": {
                        "name": "Request Failure Penalization Enabled",
                        "displayName": "Request Failure Penalization Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Body Attribute Size": {
                        "name": "Response Body Attribute Size",
                        "displayName": "Response Body Attribute Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "SSL Context Service": {
                        "name": "SSL Context Service",
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Generation Required": {
                        "name": "Response Generation Required",
                        "displayName": "Response Generation Required",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request User-Agent": {
                        "name": "Request User-Agent",
                        "displayName": "Request User-Agent",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Header Request Attributes Enabled": {
                        "name": "Response Header Request Attributes Enabled",
                        "displayName": "Response Header Request Attributes Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "HTTP Method": {
                        "name": "HTTP Method",
                        "displayName": "HTTP Method",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Username": {
                        "name": "Request Username",
                        "displayName": "Request Username",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Content-Type": {
                        "name": "Request Content-Type",
                        "displayName": "Request Content-Type",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Body Attribute Name": {
                        "name": "Response Body Attribute Name",
                        "displayName": "Response Body Attribute Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Digest Authentication Enabled": {
                        "name": "Request Digest Authentication Enabled",
                        "displayName": "Request Digest Authentication Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Multipart Form-Data Name": {
                        "name": "Request Multipart Form-Data Name",
                        "displayName": "Request Multipart Form-Data Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Cache Size": {
                        "name": "Response Cache Size",
                        "displayName": "Response Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Body Ignored": {
                        "name": "Response Body Ignored",
                        "displayName": "Response Body Ignored",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "No Retry",
                    "Retry",
                    "Original",
                    "Failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [
                    "Failure"
                ],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "35987000-62a7-3968-b4e9-57a08aa11620"
            },
            {
                "identifier": "403845e9-4311-3e87-af6c-1f95ac88ad47",
                "instanceIdentifier": "6a79adcb-fc1c-304a-d6d2-fcf76cbc29e8",
                "name": "PutHDFS",
                "comments": "",
                "position": {
                    "x": 8.0,
                    "y": 1312.0
                },
                "type": "org.apache.nifi.processors.hadoop.PutHDFS",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-hadoop-nar",
                    "version": "2.4.0"
                },
                "properties": {
                    "Permissions umask": null,
                    "Hadoop Configuration Resources": "/opt/hadoop/hdfs-site.xml,/opt/hadoop/core-site.xml",
                    "Remote Owner": null,
                    "Additional Classpath Resources": null,
                    "Resource Transfer Source": "FLOWFILE_CONTENT",
                    "Compression codec": "NONE",
                    "IO Buffer Size": null,
                    "Remote Group": null,
                    "File Resource Service": null,
                    "Block Size": null,
                    "Ignore Locality": "false",
                    "Replication": null,
                    "kerberos-user-service": null,
                    "Append Mode": "DEFAULT",
                    "writing-strategy": "writeAndRename",
                    "Directory": "/user/nifi",
                    "Conflict Resolution Strategy": "replace"
                },
                "propertyDescriptors": {
                    "Permissions umask": {
                        "name": "Permissions umask",
                        "displayName": "Permissions umask",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Hadoop Configuration Resources": {
                        "name": "Hadoop Configuration Resources",
                        "displayName": "Hadoop Configuration Resources",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false,
                        "resourceDefinition": {
                            "cardinality": "MULTIPLE",
                            "resourceTypes": [
                                "FILE"
                            ]
                        }
                    },
                    "Remote Owner": {
                        "name": "Remote Owner",
                        "displayName": "Remote Owner",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Additional Classpath Resources": {
                        "name": "Additional Classpath Resources",
                        "displayName": "Additional Classpath Resources",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false,
                        "resourceDefinition": {
                            "cardinality": "MULTIPLE",
                            "resourceTypes": [
                                "FILE",
                                "DIRECTORY"
                            ]
                        }
                    },
                    "Resource Transfer Source": {
                        "name": "Resource Transfer Source",
                        "displayName": "Resource Transfer Source",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Compression codec": {
                        "name": "Compression codec",
                        "displayName": "Compression codec",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "IO Buffer Size": {
                        "name": "IO Buffer Size",
                        "displayName": "IO Buffer Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Remote Group": {
                        "name": "Remote Group",
                        "displayName": "Remote Group",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "File Resource Service": {
                        "name": "File Resource Service",
                        "displayName": "File Resource Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Block Size": {
                        "name": "Block Size",
                        "displayName": "Block Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Ignore Locality": {
                        "name": "Ignore Locality",
                        "displayName": "Ignore Locality",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Replication": {
                        "name": "Replication",
                        "displayName": "Replication",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "kerberos-user-service": {
                        "name": "kerberos-user-service",
                        "displayName": "Kerberos User Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Append Mode": {
                        "name": "Append Mode",
                        "displayName": "Append Mode",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "writing-strategy": {
                        "name": "writing-strategy",
                        "displayName": "Writing Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Directory": {
                        "name": "Directory",
                        "displayName": "Directory",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Conflict Resolution Strategy": {
                        "name": "Conflict Resolution Strategy",
                        "displayName": "Conflict Resolution Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "success",
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "35987000-62a7-3968-b4e9-57a08aa11620"
            },
            {
                "identifier": "fff73196-9e8c-377b-89c2-553caa7d1801",
                "instanceIdentifier": "103a030d-f87b-3fde-c153-eaa493d00dd0",
                "name": "UpdateAttribute",
                "comments": "",
                "position": {
                    "x": -720.0,
                    "y": 1048.0
                },
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-update-attribute-nar",
                    "version": "2.4.0"
                },
                "properties": {
                    "Delete Attributes Expression": null,
                    "filename": "data.parquet",
                    "Store State": "Do not store state",
                    "canonical-value-lookup-cache-size": "100",
                    "Stateful Variables Initial Value": null
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "name": "Delete Attributes Expression",
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "filename": {
                        "name": "filename",
                        "displayName": "filename",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": true
                    },
                    "Store State": {
                        "name": "Store State",
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "canonical-value-lookup-cache-size": {
                        "name": "canonical-value-lookup-cache-size",
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Stateful Variables Initial Value": {
                        "name": "Stateful Variables Initial Value",
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "35987000-62a7-3968-b4e9-57a08aa11620"
            }
        ],
        "inputPorts": [],
        "outputPorts": [],
        "connections": [
            {
                "identifier": "505f211c-795d-3cf3-acc6-e4b808505a73",
                "instanceIdentifier": "f90a7c14-0196-1000-4a86-f018558caf86",
                "name": "",
                "source": {
                    "id": "fff73196-9e8c-377b-89c2-553caa7d1801",
                    "type": "PROCESSOR",
                    "groupId": "35987000-62a7-3968-b4e9-57a08aa11620",
                    "name": "UpdateAttribute",
                    "comments": "",
                    "instanceIdentifier": "103a030d-f87b-3fde-c153-eaa493d00dd0"
                },
                "destination": {
                    "id": "5c75e5d9-ee01-3bdf-a05f-79ef55c3b8ae",
                    "type": "PROCESSOR",
                    "groupId": "35987000-62a7-3968-b4e9-57a08aa11620",
                    "name": "PutParquet",
                    "comments": "",
                    "instanceIdentifier": "f90a60ac-0196-1000-eef1-e5d2dbc074c4"
                },
                "labelIndex": 0,
                "zIndex": 16,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "35987000-62a7-3968-b4e9-57a08aa11620"
            },
            {
                "identifier": "57b4c64c-fd73-3cff-87b3-85fd2d05cc4b",
                "instanceIdentifier": "97911d84-b24f-3929-bc8e-1c9a7027e54e",
                "name": "",
                "source": {
                    "id": "1de83912-64b8-3e44-9de7-fd9ddd0df937",
                    "type": "PROCESSOR",
                    "groupId": "35987000-62a7-3968-b4e9-57a08aa11620",
                    "name": "InvokeHTTP",
                    "comments": "",
                    "instanceIdentifier": "ea17b651-46cd-386a-7c65-e0dd8a7ca1a4"
                },
                "destination": {
                    "id": "a5eaba29-5a72-38a7-84c9-c38e9efe4874",
                    "type": "PROCESSOR",
                    "groupId": "35987000-62a7-3968-b4e9-57a08aa11620",
                    "name": "ConvertRecord",
                    "comments": "",
                    "instanceIdentifier": "a731aab7-78a0-3fd6-67f7-9399c17b3b7d"
                },
                "labelIndex": 0,
                "zIndex": 4,
                "selectedRelationships": [
                    "Response"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "35987000-62a7-3968-b4e9-57a08aa11620"
            },
            {
                "identifier": "fd50b6bc-769e-3fd8-a771-abbaefab41fd",
                "instanceIdentifier": "12173672-d5a4-3bc1-ddff-303a64470609",
                "name": "",
                "source": {
                    "id": "c2c4eff3-2d24-311e-aa04-549bc9814df1",
                    "type": "PROCESSOR",
                    "groupId": "35987000-62a7-3968-b4e9-57a08aa11620",
                    "name": "UpdateAttribute",
                    "comments": "",
                    "instanceIdentifier": "ad660e1b-e69b-3a6d-5095-a62c9adb76fc"
                },
                "destination": {
                    "id": "403845e9-4311-3e87-af6c-1f95ac88ad47",
                    "type": "PROCESSOR",
                    "groupId": "35987000-62a7-3968-b4e9-57a08aa11620",
                    "name": "PutHDFS",
                    "comments": "",
                    "instanceIdentifier": "6a79adcb-fc1c-304a-d6d2-fcf76cbc29e8"
                },
                "labelIndex": 0,
                "zIndex": 15,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "35987000-62a7-3968-b4e9-57a08aa11620"
            },
            {
                "identifier": "6222e64a-c6fc-3dd8-9dbc-b4aaba2c0783",
                "instanceIdentifier": "7cc93375-41e0-342e-5f37-0d500e344fbc",
                "name": "data.csv",
                "source": {
                    "id": "1c5affce-7e91-3d9a-96c3-d82da76b6f81",
                    "type": "PROCESSOR",
                    "groupId": "35987000-62a7-3968-b4e9-57a08aa11620",
                    "name": "MergeContent",
                    "comments": "",
                    "instanceIdentifier": "89e5f2b1-232b-3927-ab7b-0ca9785c901c"
                },
                "destination": {
                    "id": "c2c4eff3-2d24-311e-aa04-549bc9814df1",
                    "type": "PROCESSOR",
                    "groupId": "35987000-62a7-3968-b4e9-57a08aa11620",
                    "name": "UpdateAttribute",
                    "comments": "",
                    "instanceIdentifier": "ad660e1b-e69b-3a6d-5095-a62c9adb76fc"
                },
                "labelIndex": 0,
                "zIndex": 11,
                "selectedRelationships": [
                    "merged"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "35987000-62a7-3968-b4e9-57a08aa11620"
            },
            {
                "identifier": "02d090b1-8189-342b-92c5-8ed9d2102360",
                "instanceIdentifier": "24585c88-0ed6-3401-c666-66ffb4882496",
                "name": "",
                "source": {
                    "id": "a23f2301-a6d3-37c9-91b8-431b7b105e61",
                    "type": "PROCESSOR",
                    "groupId": "35987000-62a7-3968-b4e9-57a08aa11620",
                    "name": "GetHDFS",
                    "comments": "",
                    "instanceIdentifier": "7ffb7bca-df1f-3f5d-be51-f3f38d3cddd1"
                },
                "destination": {
                    "id": "a3400b6d-8c9c-3da3-aa81-3b166bb4777d",
                    "type": "PROCESSOR",
                    "groupId": "35987000-62a7-3968-b4e9-57a08aa11620",
                    "name": "SplitText",
                    "comments": "",
                    "instanceIdentifier": "ae6df109-51a2-3809-7624-9754b978179d"
                },
                "labelIndex": 0,
                "zIndex": 14,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "35987000-62a7-3968-b4e9-57a08aa11620"
            },
            {
                "identifier": "e138e753-f69d-3383-8801-21c16b8a8c2f",
                "instanceIdentifier": "76cf4a69-53e0-37e4-6060-7e8bc2da0157",
                "name": "",
                "source": {
                    "id": "a5eaba29-5a72-38a7-84c9-c38e9efe4874",
                    "type": "PROCESSOR",
                    "groupId": "35987000-62a7-3968-b4e9-57a08aa11620",
                    "name": "ConvertRecord",
                    "comments": "",
                    "instanceIdentifier": "a731aab7-78a0-3fd6-67f7-9399c17b3b7d"
                },
                "destination": {
                    "id": "1c5affce-7e91-3d9a-96c3-d82da76b6f81",
                    "type": "PROCESSOR",
                    "groupId": "35987000-62a7-3968-b4e9-57a08aa11620",
                    "name": "MergeContent",
                    "comments": "",
                    "instanceIdentifier": "89e5f2b1-232b-3927-ab7b-0ca9785c901c"
                },
                "labelIndex": 0,
                "zIndex": 5,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "35987000-62a7-3968-b4e9-57a08aa11620"
            },
            {
                "identifier": "62085e76-3c41-3ada-9bd9-ac901c62f626",
                "instanceIdentifier": "6125f57f-ba19-374e-f6c3-19f5900a551b",
                "name": "data.parquet",
                "source": {
                    "id": "1c5affce-7e91-3d9a-96c3-d82da76b6f81",
                    "type": "PROCESSOR",
                    "groupId": "35987000-62a7-3968-b4e9-57a08aa11620",
                    "name": "MergeContent",
                    "comments": "",
                    "instanceIdentifier": "89e5f2b1-232b-3927-ab7b-0ca9785c901c"
                },
                "destination": {
                    "id": "fff73196-9e8c-377b-89c2-553caa7d1801",
                    "type": "PROCESSOR",
                    "groupId": "35987000-62a7-3968-b4e9-57a08aa11620",
                    "name": "UpdateAttribute",
                    "comments": "",
                    "instanceIdentifier": "103a030d-f87b-3fde-c153-eaa493d00dd0"
                },
                "labelIndex": 0,
                "zIndex": 10,
                "selectedRelationships": [
                    "merged"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "35987000-62a7-3968-b4e9-57a08aa11620"
            },
            {
                "identifier": "ca1c77d4-878a-3525-b0ec-92ad0e3389ac",
                "instanceIdentifier": "375f9dc0-3e74-37c6-1b72-0099c89deb08",
                "name": "",
                "source": {
                    "id": "b97c4260-8c00-34fa-980a-5f909771a43d",
                    "type": "PROCESSOR",
                    "groupId": "35987000-62a7-3968-b4e9-57a08aa11620",
                    "name": "ExtractText",
                    "comments": "",
                    "instanceIdentifier": "43ba79ab-3458-3d64-b84b-b0eaee5a4da0"
                },
                "destination": {
                    "id": "1de83912-64b8-3e44-9de7-fd9ddd0df937",
                    "type": "PROCESSOR",
                    "groupId": "35987000-62a7-3968-b4e9-57a08aa11620",
                    "name": "InvokeHTTP",
                    "comments": "",
                    "instanceIdentifier": "ea17b651-46cd-386a-7c65-e0dd8a7ca1a4"
                },
                "labelIndex": 0,
                "zIndex": 13,
                "selectedRelationships": [
                    "matched"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "35987000-62a7-3968-b4e9-57a08aa11620"
            },
            {
                "identifier": "7668ed8c-b08a-3c85-a069-a249b3679d45",
                "instanceIdentifier": "23580b74-2483-3990-f40e-b69a5091346f",
                "name": "",
                "source": {
                    "id": "a3400b6d-8c9c-3da3-aa81-3b166bb4777d",
                    "type": "PROCESSOR",
                    "groupId": "35987000-62a7-3968-b4e9-57a08aa11620",
                    "name": "SplitText",
                    "comments": "",
                    "instanceIdentifier": "ae6df109-51a2-3809-7624-9754b978179d"
                },
                "destination": {
                    "id": "b97c4260-8c00-34fa-980a-5f909771a43d",
                    "type": "PROCESSOR",
                    "groupId": "35987000-62a7-3968-b4e9-57a08aa11620",
                    "name": "ExtractText",
                    "comments": "",
                    "instanceIdentifier": "43ba79ab-3458-3d64-b84b-b0eaee5a4da0"
                },
                "labelIndex": 0,
                "zIndex": 12,
                "selectedRelationships": [
                    "splits"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "35987000-62a7-3968-b4e9-57a08aa11620"
            }
        ],
        "labels": [],
        "funnels": [],
        "controllerServices": [
            {
                "identifier": "0d06a614-5489-37f3-bb98-003f8e65d88f",
                "instanceIdentifier": "8127fcfb-7d68-3fdc-87f0-512afb726c63",
                "name": "CSVReader",
                "comments": "",
                "type": "org.apache.nifi.csv.CSVReader",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-record-serialization-services-nar",
                    "version": "2.4.0"
                },
                "properties": {
                    "schema-reference-reader": null,
                    "ignore-csv-header": "false",
                    "schema-branch": null,
                    "Trim double quote": "true",
                    "CSV Format": "custom",
                    "Quote Character": "\"",
                    "csvutils-allow-duplicate-header-names": "true",
                    "Value Separator": ",",
                    "Record Separator": "\\n",
                    "Timestamp Format": null,
                    "Escape Character": "\\",
                    "Date Format": "yyyy-MM-dd HH:mm:ss",
                    "Null String": null,
                    "Skip Header Line": "true",
                    "Trim Fields": "true",
                    "schema-name": "${schema.name}",
                    "schema-registry": null,
                    "csv-reader-csv-parser": "commons-csv",
                    "Time Format": null,
                    "Comment Marker": null,
                    "schema-access-strategy": "csv-header-derived",
                    "schema-version": null,
                    "csvutils-character-set": "UTF-8",
                    "schema-text": "${avro.schema}"
                },
                "propertyDescriptors": {
                    "schema-reference-reader": {
                        "name": "schema-reference-reader",
                        "displayName": "Schema Reference Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "ignore-csv-header": {
                        "name": "ignore-csv-header",
                        "displayName": "Ignore CSV Header Column Names",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-branch": {
                        "name": "schema-branch",
                        "displayName": "Schema Branch",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Trim double quote": {
                        "name": "Trim double quote",
                        "displayName": "Trim double quote",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "CSV Format": {
                        "name": "CSV Format",
                        "displayName": "CSV Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Quote Character": {
                        "name": "Quote Character",
                        "displayName": "Quote Character",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "csvutils-allow-duplicate-header-names": {
                        "name": "csvutils-allow-duplicate-header-names",
                        "displayName": "Allow Duplicate Header Names",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Value Separator": {
                        "name": "Value Separator",
                        "displayName": "Value Separator",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Separator": {
                        "name": "Record Separator",
                        "displayName": "Record Separator",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Timestamp Format": {
                        "name": "Timestamp Format",
                        "displayName": "Timestamp Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Escape Character": {
                        "name": "Escape Character",
                        "displayName": "Escape Character",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Date Format": {
                        "name": "Date Format",
                        "displayName": "Date Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Null String": {
                        "name": "Null String",
                        "displayName": "Null String",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Skip Header Line": {
                        "name": "Skip Header Line",
                        "displayName": "Treat First Line as Header",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Trim Fields": {
                        "name": "Trim Fields",
                        "displayName": "Trim Fields",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-name": {
                        "name": "schema-name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-registry": {
                        "name": "schema-registry",
                        "displayName": "Schema Registry",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "csv-reader-csv-parser": {
                        "name": "csv-reader-csv-parser",
                        "displayName": "CSV Parser",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Time Format": {
                        "name": "Time Format",
                        "displayName": "Time Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Comment Marker": {
                        "name": "Comment Marker",
                        "displayName": "Comment Marker",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-access-strategy": {
                        "name": "schema-access-strategy",
                        "displayName": "Schema Access Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-version": {
                        "name": "schema-version",
                        "displayName": "Schema Version",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "csvutils-character-set": {
                        "name": "csvutils-character-set",
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-text": {
                        "name": "schema-text",
                        "displayName": "Schema Text",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.serialization.RecordReaderFactory",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "2.4.0"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "35987000-62a7-3968-b4e9-57a08aa11620"
            },
            {
                "identifier": "a21a4c71-6208-3aab-b702-b703a390b0d4",
                "instanceIdentifier": "1fe91aef-0de5-3ea3-5170-1d80d4ccdc22",
                "name": "MergedCSVReader",
                "comments": "",
                "type": "org.apache.nifi.csv.CSVReader",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-record-serialization-services-nar",
                    "version": "2.4.0"
                },
                "properties": {
                    "schema-reference-reader": null,
                    "ignore-csv-header": "false",
                    "schema-branch": null,
                    "Trim double quote": "true",
                    "CSV Format": "custom",
                    "Quote Character": "\"",
                    "csvutils-allow-duplicate-header-names": "true",
                    "Value Separator": ",",
                    "Record Separator": "\\n",
                    "Timestamp Format": null,
                    "Escape Character": "\\",
                    "Date Format": "yyyy-MM-dd HH:mm:ss",
                    "Null String": null,
                    "Skip Header Line": "false",
                    "Trim Fields": "true",
                    "schema-name": "${schema.name}",
                    "schema-registry": null,
                    "csv-reader-csv-parser": "commons-csv",
                    "Time Format": null,
                    "Comment Marker": null,
                    "schema-access-strategy": "schema-text-property",
                    "schema-version": null,
                    "csvutils-character-set": "UTF-8",
                    "schema-text": "{\n  \"type\": \"record\",\n  \"name\": \"electricity_data\",\n  \"fields\": [\n    { \"name\": \"datetime_utc\", \"type\": \"string\" },\n    { \"name\": \"country\", \"type\": \"string\" },\n    { \"name\": \"zone_name\", \"type\": \"string\" },\n    { \"name\": \"zone_id\", \"type\": \"string\" },\n    { \"name\": \"carbon_intensity_gco2eq_per_kwh_direct\", \"type\": [\"null\", \"float\"], \"default\": null },\n    { \"name\": \"carbon_intensity_gco2eq_per_kwh_life_cycle\", \"type\": [\"null\", \"float\"], \"default\": null },\n    { \"name\": \"carbon_free_energy_percentage_cfe\", \"type\": [\"null\", \"float\"], \"default\": null },\n    { \"name\": \"renewable_energy_percentage_re\", \"type\": [\"null\", \"float\"], \"default\": null },\n    { \"name\": \"data_source\", \"type\": [\"null\", \"string\"], \"default\": null },\n    { \"name\": \"data_estimated\", \"type\": [\"null\", \"boolean\"], \"default\": null },\n    { \"name\": \"data_estimation_method\", \"type\": [\"null\", \"string\"], \"default\": null }\n  ]\n}"
                },
                "propertyDescriptors": {
                    "schema-reference-reader": {
                        "name": "schema-reference-reader",
                        "displayName": "Schema Reference Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "ignore-csv-header": {
                        "name": "ignore-csv-header",
                        "displayName": "Ignore CSV Header Column Names",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-branch": {
                        "name": "schema-branch",
                        "displayName": "Schema Branch",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Trim double quote": {
                        "name": "Trim double quote",
                        "displayName": "Trim double quote",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "CSV Format": {
                        "name": "CSV Format",
                        "displayName": "CSV Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Quote Character": {
                        "name": "Quote Character",
                        "displayName": "Quote Character",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "csvutils-allow-duplicate-header-names": {
                        "name": "csvutils-allow-duplicate-header-names",
                        "displayName": "Allow Duplicate Header Names",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Value Separator": {
                        "name": "Value Separator",
                        "displayName": "Value Separator",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Separator": {
                        "name": "Record Separator",
                        "displayName": "Record Separator",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Timestamp Format": {
                        "name": "Timestamp Format",
                        "displayName": "Timestamp Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Escape Character": {
                        "name": "Escape Character",
                        "displayName": "Escape Character",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Date Format": {
                        "name": "Date Format",
                        "displayName": "Date Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Null String": {
                        "name": "Null String",
                        "displayName": "Null String",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Skip Header Line": {
                        "name": "Skip Header Line",
                        "displayName": "Treat First Line as Header",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Trim Fields": {
                        "name": "Trim Fields",
                        "displayName": "Trim Fields",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-name": {
                        "name": "schema-name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-registry": {
                        "name": "schema-registry",
                        "displayName": "Schema Registry",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "csv-reader-csv-parser": {
                        "name": "csv-reader-csv-parser",
                        "displayName": "CSV Parser",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Time Format": {
                        "name": "Time Format",
                        "displayName": "Time Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Comment Marker": {
                        "name": "Comment Marker",
                        "displayName": "Comment Marker",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-access-strategy": {
                        "name": "schema-access-strategy",
                        "displayName": "Schema Access Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-version": {
                        "name": "schema-version",
                        "displayName": "Schema Version",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "csvutils-character-set": {
                        "name": "csvutils-character-set",
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-text": {
                        "name": "schema-text",
                        "displayName": "Schema Text",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.serialization.RecordReaderFactory",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "2.4.0"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "35987000-62a7-3968-b4e9-57a08aa11620"
            },
            {
                "identifier": "e8ed3aa3-e0b2-37cb-aeeb-d575eb8dd3cb",
                "instanceIdentifier": "2c4db0ae-90d1-3815-26a5-8bec5f357ad8",
                "name": "CSVRecordSetWriter",
                "comments": "",
                "type": "org.apache.nifi.csv.CSVRecordSetWriter",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-record-serialization-services-nar",
                    "version": "2.4.0"
                },
                "properties": {
                    "schema-reference-reader": null,
                    "schema-branch": null,
                    "CSV Format": "custom",
                    "Include Header Line": "false",
                    "schema-cache": null,
                    "Escape Character": "\\",
                    "Date Format": null,
                    "Null String": null,
                    "Trim Fields": "true",
                    "schema-registry": null,
                    "Time Format": null,
                    "Comment Marker": null,
                    "schema-access-strategy": "inherit-record-schema",
                    "schema-version": null,
                    "csvutils-character-set": "UTF-8",
                    "schema-text": "${avro.schema}",
                    "csv-writer": "commons-csv",
                    "Quote Character": "\"",
                    "Value Separator": ",",
                    "Record Separator": "\\n",
                    "Timestamp Format": null,
                    "Schema Write Strategy": "no-schema",
                    "schema-name": "${schema.name}",
                    "Quote Mode": "MINIMAL",
                    "Schema Reference Writer": null,
                    "Include Trailing Delimiter": "false"
                },
                "propertyDescriptors": {
                    "schema-reference-reader": {
                        "name": "schema-reference-reader",
                        "displayName": "Schema Reference Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-branch": {
                        "name": "schema-branch",
                        "displayName": "Schema Branch",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "CSV Format": {
                        "name": "CSV Format",
                        "displayName": "CSV Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Include Header Line": {
                        "name": "Include Header Line",
                        "displayName": "Include Header Line",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-cache": {
                        "name": "schema-cache",
                        "displayName": "Schema Cache",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Escape Character": {
                        "name": "Escape Character",
                        "displayName": "Escape Character",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Date Format": {
                        "name": "Date Format",
                        "displayName": "Date Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Null String": {
                        "name": "Null String",
                        "displayName": "Null String",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Trim Fields": {
                        "name": "Trim Fields",
                        "displayName": "Trim Fields",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-registry": {
                        "name": "schema-registry",
                        "displayName": "Schema Registry",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Time Format": {
                        "name": "Time Format",
                        "displayName": "Time Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Comment Marker": {
                        "name": "Comment Marker",
                        "displayName": "Comment Marker",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-access-strategy": {
                        "name": "schema-access-strategy",
                        "displayName": "Schema Access Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-version": {
                        "name": "schema-version",
                        "displayName": "Schema Version",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "csvutils-character-set": {
                        "name": "csvutils-character-set",
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-text": {
                        "name": "schema-text",
                        "displayName": "Schema Text",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "csv-writer": {
                        "name": "csv-writer",
                        "displayName": "CSV Writer",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Quote Character": {
                        "name": "Quote Character",
                        "displayName": "Quote Character",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Value Separator": {
                        "name": "Value Separator",
                        "displayName": "Value Separator",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Separator": {
                        "name": "Record Separator",
                        "displayName": "Record Separator",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Timestamp Format": {
                        "name": "Timestamp Format",
                        "displayName": "Timestamp Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Write Strategy": {
                        "name": "Schema Write Strategy",
                        "displayName": "Schema Write Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-name": {
                        "name": "schema-name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Quote Mode": {
                        "name": "Quote Mode",
                        "displayName": "Quote Mode",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Reference Writer": {
                        "name": "Schema Reference Writer",
                        "displayName": "Schema Reference Writer",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Include Trailing Delimiter": {
                        "name": "Include Trailing Delimiter",
                        "displayName": "Include Trailing Delimiter",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.serialization.RecordSetWriterFactory",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "2.4.0"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "35987000-62a7-3968-b4e9-57a08aa11620"
            }
        ],
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "scheduledState": "ENABLED",
        "executionEngine": "INHERITED",
        "maxConcurrentTasks": 1,
        "statelessFlowTimeout": "1 min",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
        "componentType": "PROCESS_GROUP"
    },
    "externalControllerServices": {},
    "parameterContexts": {},
    "flowEncodingVersion": "1.0",
    "parameterProviders": {},
    "latest": false
}