nifi/templates/NiFi_Flow_WES.json
{"flowContents":{"identifier":"42951a4f-5450-3557-b817-c8e21a2c15b9","instanceIdentifier":"f50bcba6-0196-1000-e491-22e82c7334fc","name":"NiFi_Flow","comments":"","position":{"x":-441.5,"y":-105.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"1c5affce-7e91-3d9a-96c3-d82da76b6f81","instanceIdentifier":"47bc4f41-b4e2-3cc8-d711-97cc05c03128","name":"MergeContent","comments":"","position":{"x":-304.0,"y":840.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","FlowFile Insertion Strategy":"Last in Bin","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Do Not Use Delimiters","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":null,"Demarcator File":null,"Correlation Attribute Name":null,"Bin Termination Check":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Insertion Strategy":{"name":"FlowFile Insertion Strategy","displayName":"FlowFile Insertion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bin Termination Check":{"name":"Bin Termination Check","displayName":"Bin Termination Check","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"42951a4f-5450-3557-b817-c8e21a2c15b9"},{"identifier":"a39f42cc-b6e3-38c5-a57a-cf74c1e89bef","instanceIdentifier":"a39f982a-4753-3215-5fea-3b7c90c4811a","name":"PutHDFS","comments":"","position":{"x":-296.0,"y":1136.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"2.4.0"},"properties":{"Permissions umask":null,"Hadoop Configuration Resources":"/opt/hadoop/core-site.xml,/opt/hadoop/hdfs-site.xml","Remote Owner":null,"Additional Classpath Resources":null,"Resource Transfer Source":"FLOWFILE_CONTENT","Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"File Resource Service":null,"Block Size":null,"Ignore Locality":"false","Replication":null,"kerberos-user-service":null,"Append Mode":"DEFAULT","writing-strategy":"writeAndRename","Directory":"/user/nifi/","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false,"dynamic":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Append Mode":{"name":"Append Mode","displayName":"Append Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"42951a4f-5450-3557-b817-c8e21a2c15b9"},{"identifier":"09429154-2360-3077-a05f-1e2bb76109f5","instanceIdentifier":"ed2302c6-e8b7-33f6-33dd-6e455a86e2b0","name":"ExtractText","comments":"","position":{"x":-320.0,"y":128.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable named group support":"false","Enable DOTALL Mode":"true","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","url":"(^.*$)","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Enable repeating capture group":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable named group support":{"name":"Enable named group support","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false,"dynamic":false},"url":{"name":"url","displayName":"url","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable repeating capture group":{"name":"Enable repeating capture group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"42951a4f-5450-3557-b817-c8e21a2c15b9"},{"identifier":"3bd2f47f-3bf1-34aa-93c9-1ca6118bba5e","instanceIdentifier":"ad55baa4-997a-3803-eacb-21e6264b858d","name":"GenerateFlowFile","comments":"","position":{"x":-136.5,"y":-136.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"http://webserver:8080/IT_2021.csv","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"42951a4f-5450-3557-b817-c8e21a2c15b9"},{"identifier":"a5eaba29-5a72-38a7-84c9-c38e9efe4874","instanceIdentifier":"0c687b05-086d-33c4-d353-34aef7705241","name":"ConvertRecord","comments":"","position":{"x":-288.0,"y":616.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"e8ed3aa3-e0b2-37cb-aeeb-d575eb8dd3cb","Record Reader":"0d06a614-5489-37f3-bb98-003f8e65d88f"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"42951a4f-5450-3557-b817-c8e21a2c15b9"},{"identifier":"1de83912-64b8-3e44-9de7-fd9ddd0df937","instanceIdentifier":"1d798d05-e54d-3902-eaa6-aae3286d8555","name":"InvokeHTTP","comments":"","position":{"x":-312.0,"y":376.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"${url}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["Failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"42951a4f-5450-3557-b817-c8e21a2c15b9"},{"identifier":"b001a93d-bd18-3ad1-9194-6e5113e3d063","instanceIdentifier":"715a7258-43d6-3057-34cd-5f329e2f6b4e","name":"GenerateFlowFile","comments":"","position":{"x":-528.0,"y":-152.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"http://webserver:8080/IT_2022.csv","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"42951a4f-5450-3557-b817-c8e21a2c15b9"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"57b4c64c-fd73-3cff-87b3-85fd2d05cc4b","instanceIdentifier":"4216eed5-9eab-3e23-8b6a-cd6c44e1b16a","name":"","source":{"id":"1de83912-64b8-3e44-9de7-fd9ddd0df937","type":"PROCESSOR","groupId":"42951a4f-5450-3557-b817-c8e21a2c15b9","name":"InvokeHTTP","comments":"","instanceIdentifier":"1d798d05-e54d-3902-eaa6-aae3286d8555"},"destination":{"id":"a5eaba29-5a72-38a7-84c9-c38e9efe4874","type":"PROCESSOR","groupId":"42951a4f-5450-3557-b817-c8e21a2c15b9","name":"ConvertRecord","comments":"","instanceIdentifier":"0c687b05-086d-33c4-d353-34aef7705241"},"labelIndex":0,"zIndex":4,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"42951a4f-5450-3557-b817-c8e21a2c15b9"},{"identifier":"d78c6fa0-092f-3669-9d00-8fa5409ad59e","instanceIdentifier":"53dc08eb-b152-31ad-8c36-e521da7255fd","name":"","source":{"id":"1c5affce-7e91-3d9a-96c3-d82da76b6f81","type":"PROCESSOR","groupId":"42951a4f-5450-3557-b817-c8e21a2c15b9","name":"MergeContent","comments":"","instanceIdentifier":"47bc4f41-b4e2-3cc8-d711-97cc05c03128"},"destination":{"id":"a39f42cc-b6e3-38c5-a57a-cf74c1e89bef","type":"PROCESSOR","groupId":"42951a4f-5450-3557-b817-c8e21a2c15b9","name":"PutHDFS","comments":"","instanceIdentifier":"a39f982a-4753-3215-5fea-3b7c90c4811a"},"labelIndex":0,"zIndex":6,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"42951a4f-5450-3557-b817-c8e21a2c15b9"},{"identifier":"ae2e9470-810e-3d79-b277-1d42addca5d5","instanceIdentifier":"9591764e-90f8-30f7-4c4f-ab205f05c306","name":"","source":{"id":"b001a93d-bd18-3ad1-9194-6e5113e3d063","type":"PROCESSOR","groupId":"42951a4f-5450-3557-b817-c8e21a2c15b9","name":"GenerateFlowFile","comments":"","instanceIdentifier":"715a7258-43d6-3057-34cd-5f329e2f6b4e"},"destination":{"id":"09429154-2360-3077-a05f-1e2bb76109f5","type":"PROCESSOR","groupId":"42951a4f-5450-3557-b817-c8e21a2c15b9","name":"ExtractText","comments":"","instanceIdentifier":"ed2302c6-e8b7-33f6-33dd-6e455a86e2b0"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"42951a4f-5450-3557-b817-c8e21a2c15b9"},{"identifier":"e138e753-f69d-3383-8801-21c16b8a8c2f","instanceIdentifier":"a1739adb-cc47-30d9-26c8-a154305a818a","name":"","source":{"id":"a5eaba29-5a72-38a7-84c9-c38e9efe4874","type":"PROCESSOR","groupId":"42951a4f-5450-3557-b817-c8e21a2c15b9","name":"ConvertRecord","comments":"","instanceIdentifier":"0c687b05-086d-33c4-d353-34aef7705241"},"destination":{"id":"1c5affce-7e91-3d9a-96c3-d82da76b6f81","type":"PROCESSOR","groupId":"42951a4f-5450-3557-b817-c8e21a2c15b9","name":"MergeContent","comments":"","instanceIdentifier":"47bc4f41-b4e2-3cc8-d711-97cc05c03128"},"labelIndex":0,"zIndex":5,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"42951a4f-5450-3557-b817-c8e21a2c15b9"},{"identifier":"c349bc2d-8a5b-3a21-ad2c-b0a34c4b466d","instanceIdentifier":"c3420a6b-3fe3-3c18-2e9b-814651c476a0","name":"","source":{"id":"09429154-2360-3077-a05f-1e2bb76109f5","type":"PROCESSOR","groupId":"42951a4f-5450-3557-b817-c8e21a2c15b9","name":"ExtractText","comments":"","instanceIdentifier":"ed2302c6-e8b7-33f6-33dd-6e455a86e2b0"},"destination":{"id":"1de83912-64b8-3e44-9de7-fd9ddd0df937","type":"PROCESSOR","groupId":"42951a4f-5450-3557-b817-c8e21a2c15b9","name":"InvokeHTTP","comments":"","instanceIdentifier":"1d798d05-e54d-3902-eaa6-aae3286d8555"},"labelIndex":0,"zIndex":3,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"42951a4f-5450-3557-b817-c8e21a2c15b9"},{"identifier":"d1c155d1-fb99-39d5-a0d0-6920ff7ef5ff","instanceIdentifier":"3e75d713-ebe5-30ec-e8b1-bc4e2ffe925f","name":"","source":{"id":"3bd2f47f-3bf1-34aa-93c9-1ca6118bba5e","type":"PROCESSOR","groupId":"42951a4f-5450-3557-b817-c8e21a2c15b9","name":"GenerateFlowFile","comments":"","instanceIdentifier":"ad55baa4-997a-3803-eacb-21e6264b858d"},"destination":{"id":"09429154-2360-3077-a05f-1e2bb76109f5","type":"PROCESSOR","groupId":"42951a4f-5450-3557-b817-c8e21a2c15b9","name":"ExtractText","comments":"","instanceIdentifier":"ed2302c6-e8b7-33f6-33dd-6e455a86e2b0"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"42951a4f-5450-3557-b817-c8e21a2c15b9"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"0d06a614-5489-37f3-bb98-003f8e65d88f","instanceIdentifier":"1702f5cb-47b4-3e39-3d17-e86bdb840d77","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":"yyyy-MM-dd HH:mm:ss","Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"csv-header-derived","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"42951a4f-5450-3557-b817-c8e21a2c15b9"},{"identifier":"e8ed3aa3-e0b2-37cb-aeeb-d575eb8dd3cb","instanceIdentifier":"fdfea860-db3e-334b-7fce-330724c40073","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"false","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"42951a4f-5450-3557-b817-c8e21a2c15b9"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}